/* поле ввода логина */
input[type="text"] {
    padding: 10px;
    border: 2px solid var(--blue); 
    border-radius: 5px;
    background-color: #f3f4f6;
    font-size: 15px;
    color: var(--gray);
    
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  /* поле ввода пароля */
  input[type="password"] {
    padding: 10px;
    border: 2px solid var(--blue); 
    border-radius: 5px;
    background-color: #f3f4f6;
    font-size: 15px;
    color: var(--gray);
    margin: 10px 0;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }